body {
  background: #f9f7fe;
  text-align: center;
  color: black;
  padding-top: 50px;
}

h1 {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.city {
  display: flex;
  justify-content: space-between;
}

.shang {
  font-size: 30px;
  margin: 20px 0px 0px;
}

.seoul {
  font-size: 30px;
}

.time {
  font-size: 36px;
  font-weight: bold;
}
.date {
  display: flex;
  opacity: 0.6;
}
.time small {
  font-size: 20px;
  vertical-align: middle;
}
.container {
  background: white;
  color: black;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px #edf6f7;
}

footer {
  padding: 40px;
}

#cities {
  width: 100%;
  font-size: 20px;
  padding: 7px;
}
