body {
  background: #f9f7fe;
  text-align: center;
  color: black;
  padding-top: 50px;
}

h1 {
  font-size: 30px;
}
.city {
    display: flex;
    justify-content: space-between;
}

.time {
  font-size: 36px;
  font-weight: bold;
}
.container {
  background: white;
  color: black;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px #edf6f7;
}

footer {
  padding: 40px;
}

#cities {
  width: 100%;
  font-size: 20px;
  padding: 7px;
}
