body {
  background: #f9f7fe;
  text-align: center;
  color: black;
}

h1 {
  font-size: 30px;
}
.city {
}
.container {
  background: white;
  color: black;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
}

footer {
  padding: 40px;
}

#cities {
  width: 100%;
  font-size: 20px;
  padding: 7px;
}
